<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/medicine.png" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <script src="../public/js/script.js" defer></script>

    <title>PharmaStock | Home Page</title>
  </head>

  <body>
    <!-- Navbar Section -->
    <div class="navbar">
      <div class="logo">
        <a href="index.html">
          <img src="../public/assets/Pharma Stock Logo svg.svg" alt="logo" />
        </a>
      </div>
      <div class="menu-items">
        <a href="/view-stock">Stock</a>
        <a href="customer.html">Customer</a>
        <a href="payment.html">Payment</a>
        <a href="feedback.html">Feedback</a>
        <a href="sales.html">Sales</a>
        <a href="account.html">Account</a>
        <a href="account.html">
          <img src="../public/assets/account-symbol.svg" alt="account-symbol" />
        </a>
      </div>
    </div>

    <!-- Hero Section -->
    <main class="hero">
      <h1>ALL YOUR PHARMACY STOCK MANAGEMENT ON ONE PLATFORM</h1>
      <p>Unlock the full potential of your store with our simple yet effective management system</p>

      <div class="cta-buttons">
        <button class="btn-work">How does it work</button>
        <a href="login.html"
          ><button class="btn-start"><span>›</span> Get Started</button></a
        >
      </div>
      <img src="../public/assets/tablets.png" alt="" />
      <img id="img2" src="../public/assets/doc-med.png" alt="" />
    </main>

    <!-- Footer Section -->
    <footer>
      <div class="footer">
        <a href="about.html">About</a>
        <a href="help.html">Help Center</a>
        <a href="tos.html">Terms of Service</a>
        <a href="policy.html">Privacy Policy</a>
        <a href="email.html">Email</a>
      </div>
      <div class="socials">
        <img src="../public/assets/Social-Instagram.svg" alt="Instagram-icon" />
        <img src="../public/assets/Social-fb.svg" alt="Facebook-icon" />
        <img src="../public/assets/Social-twitter.svg" alt="Twitter-icon" />
      </div>
    </footer>
  </body>
</html>
