<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/medicine.png" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/script.js" defer></script>

    <title>PharmaStock | Home Page</title>
  </head>

  <body>
    <!-- Navbar Section -->
    <div class="navbar">
      <div class="logo">
        <a href="/">
          <img src="/assets/Pharma Stock Logo svg.svg" alt="logo" />
        </a>
      </div>
      <div class="menu-items">
        <a href="/view-stock">Stock</a>
        <a href="customer.html">Customer</a>
        <a href="payment.html">Payment</a>
        <a href="feedback.html">Feedback</a>
        <a href="sales.html">Sales</a>
        <a href="account.html">Account</a>
        <a href="account.html">
          <img src="/assets/account-symbol.svg" alt="account-symbol" />
        </a>
      </div>
    </div>

    <!-- Sign Up Section -->
    <main class="login-wrapper">
      <div class="login-card">
        <div class="login-header">
          <h1>Sign Up</h1>
          <img src="/assets/account-symbol.svg" alt="User Icon" class="login-icon" />
        </div>

        <form action="/signup" method="POST" class="login-form">
          <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" name="first_name" placeholder="First Name" required />
          </div>
          <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" name="last_name" placeholder="Last Name" />
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Email" required />
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <div class="password-wrapper">
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Password"
                required
              />
              <img
                src="/assets/close-eye.png"
                class="eye-icon toggle-password"
                alt="Toggle Password"
              />
            </div>
          </div>

          <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <div class="password-wrapper">
              <input
                type="password"
                id="confirm-password"
                placeholder="Confirm Password"
                required
              />
              <img
                src="/assets/close-eye.png"
                class="eye-icon toggle-password"
                alt="Toggle Password"
              />
            </div>
          </div>

          <button type="submit" class="btn-login">Sign Up</button>

          <div class="login-links">
            <span>Already have an account?</span>
            <a href="/login">Log In</a>
          </div>
        </form>
      </div>
    </main>

    <!-- Footer Section -->
    <footer>
      <div class="footer">
        <a href="about.html">About</a>
        <a href="help.html">Help Center</a>
        <a href="tos.html">Terms of Service</a>
        <a href="policy.html">Privacy Policy</a>
        <a href="email.html">Email</a>
      </div>
      <div class="socials">
        <img src="/assets/Social-Instagram.svg" alt="Instagram-icon" />
        <img src="/assets/Social-fb.svg" alt="Facebook-icon" />
        <img src="/assets/Social-twitter.svg" alt="Twitter-icon" />
      </div>
    </footer>
  </body>
</html>
